@import "colors";

.fixtures {
  color: #ffffff;
  margin-bottom: 6rem;
  td {
    padding: 0.5rem 2rem;
    text-align: center;
    border-bottom: solid $table-title-color 1px;
  }
  .fixtures_description {
    background: $table-title-color;
  }
  th {
    text-align: center;
  }

  .fixtures_positions {
    background: $table-fourth-color;
  }
}

.fixtures_select {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 6rem;
}
