@import "colors";

.fixtures_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 5rem 0;

  h2 {
    color: $font-white-color;
    text-align: center;
    margin-bottom: 3rem;

    @media (max-width: 685px) {
      font-size: 1.2rem;
    }
  }
}

.fixtures {
  color: $font-white-color;
  td {
    padding: 0.5rem 2rem;
    text-align: center;
    border-bottom: solid $border-color 1px;

    @media (max-width: 685px) {
      padding: 0.1rem 0.1rem;
    }
  }
  .fixtures_description {
    background: $main-color;
    color: $font-white-color;
    font-size: 0.8rem;
  }
  th {
    text-align: center;
  }

  @media (max-width: 1199px) {
    font-size: 0.9rem;
  }

  @media (max-width: 685px) {
    font-size: 0.8rem;
  }

  @media (max-width: 447px) {
    font-size: 0.7rem;
  }
}

.fixtures_result_home {
  background: $main-color;
  color: $font-white-color;
  padding: 0 0.7rem;
  border-right: 1px solid $font-white-color;
}

.fixtures_result_away {
  background: $main-color;
  color: $font-white-color;
  padding: 0 0.7rem;
}

.fixtures_form {
  border: solid $border-color 2px;
  background: $main-color;
  color: $font-white-color;
  margin-bottom: 3rem;

  &:focus {
    background: $main-color;
    color: $font-white-color;
  }
}
