@import "colors";

.fixtures {
  color: #ffffff;
  margin-bottom: 6rem;
  td {
    padding: 0.5rem 2rem;
    text-align: center;
    border-bottom: solid #efefef 1px;
  }
  .fixtures_description {
    background: #fbfbfb;
    color: #aeaeae;
    font-size: 0.8rem;
  }
  th {
    text-align: center;
  }

  .fixtures_positions {
    color: #242424;
  }
}

.fixtures_select {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 6rem;
}

.fixtures_result_home {
  background: #37003c;
  color: #ffffff;
  padding: 0 0.7rem;
  border-right: 1px solid #ffffff;
}

.fixtures_result_away {
  background: #37003c;
  color: #ffffff;
  padding: 0 0.7rem;
}
