@import "colors";

footer {
  background: linear-gradient(
    135deg,
    rgba(80, 255, 134, 1) 0%,
    rgba(80, 255, 134, 1) 11%,
    rgba(181, 54, 217, 1) 19%,
    rgba(31, 25, 95, 1) 24%,
    rgba(31, 25, 95, 1) 74%,
    rgba(31, 25, 95, 1) 100%
  );
  min-height: 5rem;
  width: 100%;
  color: $font-white-color;

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  bottom: 0;

  .footer_container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    font-size: 0.9rem;
    text-transform: uppercase;
  }
}
