@import "colors";

footer {
  background: $main-color;
  min-height: 5rem;
  width: 100%;
  color: $font-white-color;

  display: flex;
  justify-content: center;
  align-items: center;

  .footer_container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    font-size: 0.9rem;
    text-transform: uppercase;
  }
}
