@import "variables";

footer {
  background: $footer-color;
  min-height: 5rem;
  width: 100%;
  color: $font-white-color;

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  bottom: 0;
  right: 0;

  .footer_container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    font-size: 0.9rem;
  }
  .footer_box {
    width: 45%;
    display: flex;
    justify-content: space-around;

    @media (max-width: 991px) {
      width: 70%;
    }

    @media (max-width: 767px) {
      width: 80%;
    }

    @media (max-width: 767px) {
      width: 90%;
    }

    @media (max-width: 429px) {
      width: 100%;
    }

    .footer_icons {
      display: flex;
      justify-content: space-around;
      align-items: center;

      width: 20%;
    }

    i {
      font-size: 1.5rem;
      color: $header-color;

      @media (max-width: 429px) {
        font-size: 1.2rem;
      }
    }

    span {
      color: $header-color;
      font-size: 0.8rem;
      font-weight: bold;
      letter-spacing: 2px;
      text-align: center;

      text-transform: uppercase;

      @media (max-width: 575px) {
        font-size: 0.6rem;
      }

      @media (max-width: 429px) {
        font-size: 0.5rem;
        letter-spacing: 1px;
      }
    }
  }
}
