header {
  color: #360037;
  max-height: 100px;
  width: 100%;
  background: #ffffff;
  margin-bottom: 2rem;
}

.header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  ul {
    list-style: none;
  }
}
