@import "colors";

header {
  max-height: 5rem;
  width: 100%;
  background: linear-gradient(
    45deg,
    rgba(80, 255, 134, 1) 8%,
    rgba(181, 54, 217, 1) 17%,
    rgba(31, 42, 133, 1) 57%,
    rgba(31, 25, 95, 1) 92%
  );

  @media (max-width: 575px) {
    padding: 0 1rem;
  }
}
