@import "colors";

header {
  max-height: 6rem;
  width: 100%;
  background: linear-gradient(
    135deg,
    rgba(80, 255, 134, 1) 0%,
    rgba(80, 255, 134, 1) 11%,
    rgba(181, 54, 217, 1) 19%,
    rgba(31, 25, 95, 1) 24%,
    rgba(31, 25, 95, 1) 74%,
    rgba(31, 25, 95, 1) 100%
  );

  @media (max-width: 575px) {
    padding: 0 1rem;
  }
}
