.logo_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15rem;
  max-height: 5rem;
  overflow: hidden;

  .logo_link {
    height: 100%;
    width: 100%;
  }
  img {
    width: 13rem;
    height: 9rem;
  }
}
