@import "variables";

.myTeam_container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 75vh;
  margin-bottom: 11rem;

  @media (max-width: 991px) {
    min-height: 100vh;
  }
  @media (max-width: 517px) {
    margin-bottom: 10rem;
  }

  @media (max-width: 517px) {
    margin-top: 5rem;
    min-height: 70vh;
  }
  @media (max-width: 490px) {
    margin-bottom: 9rem;
  }
}

.myTeam_box {
  display: flex;
  flex-direction: column;
  color: $font-white-color;
  text-align: center;
  width: 50%;
  padding: 3rem;
  background: $background-opacity;
  border-radius: 1em;

  div {
    padding: 0.7rem 0;
    font-size: 1.1rem;
    font-weight: bold;
    color: $font-white-color;
    border-bottom: 1px solid $green-color;

    @media (max-width: 500px) {
      font-size: 1rem;
      padding: 0.4rem 0;
    }

    @media (max-width: 451px) {
      font-size: 0.9rem;
      padding: 0.4rem 0;
    }
  }

  span {
    font-size: 1rem;
    font-weight: 400;
    color: $font-white-color;

    @media (max-width: 451px) {
      font-size: 0.8rem;
    }
  }

  a {
    text-decoration: none;
    display: block;
    color: $font-white-color;
    text-transform: uppercase;

    &:hover {
      transform: scale(1.1);
      color: $green-color;
    }
  }

  img {
    width: 20rem;
    height: 20rem;
    margin-bottom: 0.4rem;

    @media (max-width: 759px) {
      width: 15rem;
      height: 15rem;
    }

    @media (max-width: 451px) {
      width: 8rem;
      height: 8rem;
    }
  }

  @media (max-width: 991px) {
    padding: 2rem;
    width: 70%;
  }

  @media (max-width: 767px) {
    padding: 2rem;
    width: 80%;
  }
  @media (max-width: 497px) {
    padding: 1.5rem;
    width: 85%;
  }
  @media (max-width: 451px) {
    padding: 1rem;
    width: 90%;
  }
}
