.header_nav {
  .header_nav_list {
    min-width: 20rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    list-style: none;
    font-size: 0.9rem;
    font-weight: bold;
    padding-top: 0.7rem;

    li {
      padding: 0 0.7rem;
    }
  }
}

.active {
  color: red;
}

.link {
  color: #fff;
  font-size: 0.9rem;
  text-transform: uppercase;

  &:hover {
    text-decoration: none;
    color: darken(#fff, 20%);
  }
}
