@import "colors";

.navigation {
  .navigation_list {
    min-width: 20rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    list-style: none;
    font-size: 0.9rem;
    font-weight: bold;
    padding-top: 0.7rem;

    li {
      padding: 0 0.7rem;
    }
  }

  @media (max-width: 991px) {
    display: none;
  }
}
.active {
  border-bottom: 2px solid $border-color;
  padding-bottom: 0.2rem;
  width: 100%;
}

.link {
  color: $font-white-color;
  font-size: 0.9rem;
  text-transform: uppercase;

  &:hover {
    color: darken($font-white-color, 50%);
    text-decoration: none;
  }
}

.auth_link {
  color: $font-white-color;
  font-size: 0.9rem;
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    color: darken($font-white-color, 50%);
    text-decoration: none;
  }

  @media (max-width: 991px) {
    border: none;
    font-size: 1.1rem;
  }
}

.user_greeting_box {
  color: $font-white-color;
  background: #6159ce;
  border-radius: 5px;

  @media (max-width: 991px) {
    background: none;
  }

  span {
    padding: 0.9rem 0.7rem;
    color: $font-white-color;

    @media (max-width: 991px) {
      padding: 0;
      color: $green-color;
    }
  }
}

.material-icons {
  color: white;
  font-size: 2rem;
}

.burger_menu {
  display: none;
  position: relative;

  &:hover {
    cursor: pointer;
  }

  @media (max-width: 991px) {
    display: block;
  }
}

.toggle_nav {
  width: 100%;
  margin-bottom: 0.5rem;
  position: absolute;
  top: 80px;
  left: 0;
  background: $main-color;
  opacity: 0.9;
  border-radius: 3px;
  z-index: 2;

  .toggle_nav_list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    list-style: none;
    padding: 1.5rem;

    .link {
      font-size: 1.1rem;
    }

    li {
      width: 100%;
      border-bottom: 1px solid #544db8;
      padding: 0.5rem 0;
    }
  }

  @media (min-width: 992px) {
    display: none;
  }
}
