@import "variables";

.navigation {
  .navigation_list {
    min-width: 20rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    list-style: none;
    font-size: 0.9rem;
    font-weight: bold;
    padding-top: 0.7rem;

    li {
      padding: 0 1rem;
    }
  }

  @media (max-width: 991px) {
    display: none;
  }
}

.active {
  border-bottom: 2px solid $green-color;
}

.link {
  color: $font-white-color;
  font-size: 0.9rem;
  text-transform: uppercase;
  padding-bottom: 5px;

  &:hover {
    color: darken($font-white-color, 50%);
    text-decoration: none;
  }
}

.auth_link {
  color: $font-white-color;
  font-size: 0.9rem;
  text-transform: uppercase;
  padding-bottom: 5px;

  &:hover {
    cursor: pointer;
    color: darken($font-white-color, 50%);
    text-decoration: none;
  }

  @media (max-width: 991px) {
    border: none;
    font-size: 1.1rem;
  }
}

.user_greeting_box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: 0px;
  top: 250px;
  width: 5rem;
  background: rgba(80, 255, 134, 0.9);
  border-radius: 5px;
  font-size: 1.1rem;

  @media (max-width: 991px) {
    background: none;
    position: static;
    width: 100%;
  }

  span {
    padding: 0.8rem 1rem;
    color: $second-color;
    letter-spacing: 0.8px;

    @media (max-width: 991px) {
      padding: 0;
      color: $green-color;
    }
  }
}

.material-icons {
  color: $font-white-color;
  font-size: 2rem;
}

.burger_menu {
  display: none;
  position: relative;

  &:hover {
    cursor: pointer;
  }

  @media (max-width: 991px) {
    display: block;
  }
}

.toggle_nav {
  width: 100%;
  margin-bottom: 0.5rem;
  position: absolute;
  top: 80px;
  left: 0;
  background: $header-color;
  border-radius: 3px;
  z-index: 2;

  .toggle_nav_list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    list-style: none;
    padding: 1.5rem;

    .link {
      font-size: 1.1rem;
    }

    li {
      width: 100%;
      padding: 0.5rem 0;
    }
  }

  @media (min-width: 992px) {
    display: none;
  }
}
