@import "colors";

.players_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  margin-bottom: 11rem;
  word-wrap: break-word;

  @media (max-width: 517px) {
    margin-bottom: 10rem;
  }
  @media (max-width: 490px) {
    margin-bottom: 9rem;
  }

  h2 {
    padding-bottom: 4rem;
    font-family: "Livvic", sans-serif;
    color: $font-white-color;
    font-size: 2rem;
    font-weight: bold;

    letter-spacing: 3px;
    text-align: center;
    text-shadow: $button-color 2px 2px;
    text-transform: uppercase;

    @media (max-width: 991px) {
      padding-top: 3rem;
      font-size: 1.6rem;
    }

    @media (max-width: 490px) {
      margin-top: 3rem;
      font-size: 1.3rem;
    }
  }
}

.players_table {
  color: $font-white-color;
  white-space: nowrap;
  overflow: hidden;
  border-radius: 5px;

  @media (max-width: 1199px) {
    font-size: 0.9rem;
  }

  @media (max-width: 720px) {
    font-size: 0.8rem;
  }

  @media (max-width: 646px) {
    font-size: 0.8rem;
  }

  @media (max-width: 567px) {
    font-size: 0.7rem;
  }

  @media (max-width: 496px) {
    font-size: 0.6rem;
  }

  td {
    padding: 0.5rem 2rem;
    text-align: center;
    border-bottom: 1px solid $button-color;
    @media (max-width: 898px) {
      padding: 0.5rem 0.9rem;
    }
    @media (max-width: 767px) {
      padding: 0.4rem 0.8rem;
    }

    @media (max-width: 575px) {
      padding: 0.3rem 0.7rem;
    }
    @media (max-width: 517px) {
      padding: 0.3rem 0.6rem;
    }
    @media (max-width: 452px) {
      padding: 0.3rem 0.5rem;
    }
    @media (max-width: 425px) {
      padding: 0.3rem 0.4rem;
    }
    @media (max-width: 452px) {
      padding: 0.3rem 0.3rem;
    }
    @media (max-width: 409px) {
      padding: 0.4rem 0.3rem;
    }
  }
  .players_table__name {
    padding: 0.2rem 1.2rem;
  }
  th {
    text-align: center;
    padding-left: 0.3rem;

    @media (max-width: 452px) {
      font-size: 0.5rem;
    }
  }

  .table_list__team {
    text-align: left;
  }

  .players_list__positions {
    color: $font-white-color;
    background: $background-opacity;
  }

  .players_table__header {
    background: $green-color;
    color: $second-color;
    font-size: 0.8rem;
  }
}

.players_select {
  background: $second-color;
  color: $font-white-color;
  margin-bottom: 3rem;

  @media (max-width: 720px) {
    font-size: 0.9rem;
  }

  @media (max-width: 496px) {
    font-size: 0.8rem;
  }

  &:focus {
    background: $second-color;
    color: $font-white-color;
  }
}
