@import "colors";

.scorers_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: center;
  margin: 5rem 0;

  h2 {
    color: $font-white-color;
    margin-bottom: 3rem;

    @media (max-width: 685px) {
      font-size: 1.2rem;
    }
  }
}

.scorers_table {
  color: $font-white-color;
  background: $second-color;

  td {
    padding: 0.5rem 1.3rem;
    text-align: center;
    border-bottom: solid $border-color 1px;

    @media (max-width: 685px) {
      padding: 0.1rem 0.1rem;
    }
  }
  @media (max-width: 1199px) {
    font-size: 0.9rem;
  }

  @media (max-width: 685px) {
    font-size: 0.8rem;
  }

  @media (max-width: 447px) {
    font-size: 0.7rem;
  }

  @media (max-width: 320px) {
    font-size: 0.6rem;
  }
}

th {
  text-align: center;
}

.scorers_table__header {
  background: $main-color;
  color: $font-white-color;
  font-size: 0.8rem;
}
