@import "colors";

.scorers {
  color: #ffffff;

  td {
    padding: 0.5rem 1.3rem;
    text-align: center;
    border-bottom: solid #efefef 1px;
  }
  .scorers-header {
    padding: 0.3rem 1.3rem;
    text-align: left;
  }
  th {
    text-align: center;
  }

  .team {
    text-align: left;
  }

  .scorers_description {
    background: #fbfbfb;
    color: #aeaeae;
    font-size: 0.8rem;
  }

  .scorers_positions {
    color: #242424;
  }
}

.scorers_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 6rem 0;
}
