@import "colors";

.signin_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 11rem;
}
.signin_form {
  color: $font-white-color;
  width: 50%;
  padding-top: 3rem;
  background: $background-opacity;
  position: relative;
  border-radius: 1rem;

  h2 {
    text-align: center;
    margin-bottom: 5rem;
    font-weight: bold;
    text-shadow: $button-color 2px 2px;
    letter-spacing: 2px;

    @media (max-width: 552px) {
      font-size: 1.8rem;
    }
  }

  .form_control_signin {
    background: $background-opacity;
    color: $font-white-color;
    &:focus {
      background: lighten($background-opacity, 30%);
      color: $font-white-color;
    }
  }

  .signin_group {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .signin_button__container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;

    .signin_button {
      padding: 0.5rem 1.5rem;
      background: $button-color;
      border-color: $button-color;
      color: $font-white-color;
      font-weight: bold;

      &:hover {
        background: transparent;
        transform: scale(1.1);
      }

      @media (max-width: 552px) {
        padding: 0.3rem 1.2rem;
        font-size: 0.9rem;
      }
    }
  }

  .signin_label {
    span {
      @media (max-width: 552px) {
        font-size: 0.9rem;
      }
    }
  }

  .signin_error {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: $error-color;
    margin: 2rem 0;

    font-weight: bold;

    @media (max-width: 552px) {
      font-size: 0.9rem;
    }
  }

  @media (max-width: 1199px) {
    width: 60%;
  }
  @media (max-width: 991px) {
    margin-top: 7rem;
  }
  @media (max-width: 767px) {
    width: 80%;
  }
  @media (max-width: 475px) {
    width: 100%;
  }
}

.ball_icon__container {
  width: 100%;
  text-align: center;
  margin-bottom: 0.5rem;
}
.ball_icon {
  font-size: 5rem;
  color: $green-color;

  @media (max-width: 552px) {
    font-size: 4rem;
  }
}
