@import "colors";

.table_container {
  margin-bottom: 2rem;
}

.premier_league {
  color: #ffffff;
  white-space: nowrap;
  overflow: hidden;
  td {
    padding: 0.5rem 1.3rem;
    text-align: center;
    border-bottom: solid $table-title-color 1px;
  }
  .team-header {
    padding: 0.3rem 1.3rem;
    text-align: left;
  }
  th {
    text-align: center;
  }

  .team {
    text-align: left;
    img {
      width: 1.5rem;
      height: 1.5rem;
      margin-right: 0.7rem;
    }
  }

  .table_positions {
    background: $table-third-color;
    &:nth-of-type(3) {
      background: $table-first-color;
    }
    &:nth-of-type(4) {
      background: $table-second-color;
    }
    &:nth-of-type(5) {
      background: $table-second-color;
    }
    &:nth-of-type(6) {
      background: $table-second-color;
    }

    &:nth-of-type(20) {
      background: $table-fourth-color;
    }

    &:nth-of-type(21) {
      background: $table-fourth-color;
    }
    &:nth-of-type(22) {
      background: $table-fourth-color;
    }
  }

  .table_description {
    background: $table-title-color;
  }

  .table_title {
    background: $table-title-color;
    th {
      font-size: 1.5rem;
      padding: 0.2rem;
    }
  }
}

.standings_container {
  display: flex;
  justify-content: center;
  align-items: center;
}
