@import "colors";
// large

.table_container {
  margin-bottom: 2rem;
  height: 100vh;
  margin: 6rem 0;

  @media (max-width: 830px) {
    display: none;
  }
}

.premier_league_lg {
  color: $font-white-color;
  white-space: nowrap;
  overflow: hidden;
  td {
    padding: 0.5rem 1.3rem;
    text-align: center;
    border-bottom: solid $font-white-color 1px;
  }
  .team-header {
    padding: 0.3rem 1.2rem;
    text-align: left;
  }
  th {
    text-align: center;
    padding-left: 0.3rem;
  }

  .team {
    text-align: left;
    img {
      width: 1.5rem;
      height: 1.5rem;
      margin-right: 0.7rem;
    }
  }

  .table_positions {
    color: $font-white-color;
  }

  .table_description {
    background: #0f0736;
    color: $font-white-color;
    font-size: 0.8rem;
  }
}

.standings_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

// xs

.table_container_xs {
  margin-bottom: 2rem;
  margin: 6rem 0;
  height: 100%;
  display: none;
  color: $font-white-color;
  font-size: 0.9rem;
  white-space: nowrap;

  td {
    padding: 0.2rem 0.2rem;
    text-align: center;
    border-bottom: solid $font-white-color 1px;
  }
  .team {
    text-align: left;
  }
  th {
    text-align: center;
    padding-left: 0.1rem;
  }

  img {
    width: 0.7rem;
    height: 0.7rem;
    margin-right: 0.3rem;
  }
  @media (max-width: 830px) {
    display: block;
  }
}
