@import "colors";

.standings_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 6rem;

  @media (max-width: 517px) {
    margin-bottom: 4rem;
  }
  @media (max-width: 490px) {
    margin-bottom: 2rem;
  }

  h2 {
    color: $font-white-color;
    font-weight: bold;
    text-align: center;
    padding-bottom: 4rem;

    @media (max-width: 991px) {
      padding-top: 3rem;
    }

    @media (max-width: 490px) {
      font-size: 1.3rem;
    }
  }
  @media (max-width: 490px) {
    padding: 3rem 0;
  }
}

.standings_table {
  color: $font-white-color;
  white-space: nowrap;
  overflow: hidden;
  border-radius: 5px;

  @media (max-width: 1199px) {
    font-size: 1.1rem;
  }

  @media (max-width: 720px) {
    font-size: 1rem;
  }

  @media (max-width: 646px) {
    font-size: 0.9rem;
  }

  @media (max-width: 567px) {
    font-size: 0.8rem;
  }

  @media (max-width: 496px) {
    font-size: 0.7rem;
  }

  @media (max-width: 320px) {
    font-size: 0.6rem;
  }

  td {
    padding: 0.7rem 1.8rem;
    text-align: center;
    border-bottom: solid $border-color 1px;

    @media (max-width: 924px) {
      padding: 0.5rem 0.9rem;
    }
    @media (max-width: 767px) {
      padding: 0.4rem 0.7rem;
    }

    @media (max-width: 575px) {
      padding: 0.3rem 0.6rem;
    }
    @media (max-width: 517px) {
      padding: 0.3rem 0.5rem;
    }
    @media (max-width: 452px) {
      padding: 0.3rem 0.4rem;
    }
    @media (max-width: 425px) {
      padding: 0.3rem 0.3rem;
    }
    @media (max-width: 452px) {
      padding: 0.3rem 0.2rem;
    }
    @media (max-width: 409px) {
      padding: 0.2rem 0.1rem;
    }
  }
  .standings_table__team {
    padding: 0.3rem 1.2rem;
    text-align: left;
  }
  th {
    text-align: center;
    padding-left: 0.3rem;

    @media (max-width: 452px) {
      font-size: 0.7rem;
    }
    @media (max-width: 403px) {
      font-size: 0.6rem;
    }
  }

  .table_list__team {
    text-align: left;
    img {
      width: 1.5rem;
      height: 1.5rem;
      margin-right: 0.7rem;

      @media (max-width: 517px) {
        width: 1.2rem;
        height: 1.2rem;
        margin-right: 0.7rem;
      }
    }
  }

  .table_positions {
    color: $font-white-color;
    background: $second-color;
  }

  .standings_table__header {
    background: $green-color;
    color: $second-color;
    font-size: 0.8rem;
  }
}

.table_list__positions {
  color: $font-white-color;
  background: $second-color;
}
