//colors

$result-color: #0f0736;
$font-white-color: #ffffff;
$second-color: #1f1a5f;
$header-color: #270c39;
$footer-color: rgba(80, 255, 134, 0.6);
$green-color: #50ff86;
$title-shadow: #a032c8;
$error-color: #bc0001;
$background-opacity: rgba(31, 26, 95, 0.8);
