@import "main";
@import "header";
@import "logo";
@import "standings";
@import "scorers";
@import "fixtures";
@import "footer";
@import "variables";
@import "navigation";
@import "teams";
@import "players";
@import "signup";
@import "signin";
@import "loading";
@import "myTeam";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
}
html {
  height: 100%;
}
.wrapper {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  min-height: 100%;
  position: relative;
  background: url(../photo2.jpg);
  background-position: center top;
  background-repeat: no-repeat;

  background-size: cover;
  background-attachment: fixed;

  h2 {
    font-family: "Spectral SC", serif;
    font-size: 2.3rem;
  }
}
