@import "main";
@import "header";
@import "logo";
@import "standings";
@import "scorers";
@import "fixtures";
@import "footer";
@import "colors";
@import "navigation";
@import "teams";
@import "players";
@import "signup";
@import "signin";
@import "loading";
@import "myTeam";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
}
html {
  height: 100%;
}
.wrapper {
  min-height: 50rem;
  padding-bottom: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
#root {
  height: 100%;
}
body {
  min-height: 100%;
  background: $main-color;
  position: relative;

  h2 {
    font-family: "Spectral SC", serif;
    font-size: 2.3rem;
  }
}
