@import "main";
@import "select";
@import "header";
@import "logo";
@import "standings";
@import "scorers";
@import "fixtures";
@import "footer";
@import "colors";
@import "navigation";
@import "teams";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
}
